
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<nav class="w3-sidenav w3- #D8D1C7" style="width:180px">-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-home w3-xxlarge"><b style="margin-left: 10px;">Dashboard</b></i></a><i class="i i-circle-sm text-active"></i>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-user w3-xxsmall"><b style="margin-left: 10px;">Customers</b></i></a>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-user w3-xxsmall"><b style="margin-left: 10px;">Apointments</b></i></a>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-medkit icon w3-xxsmall"><b style="margin-left: 10px;">Enterprizes</b></i></a>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-group icon w3-xxsmall"><b style="margin-left: 10px;">Partners</b></i></a>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-bell icon w3-xxsmall"><b style="margin-left: 10px;">Promotions</b></i></a>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-medkit icon w3-xxsmall"><b style="margin-left: 10px;">Corporates</b></i></a>-->
    <!--<a class="w3-padding-16" href="#"><i class="fa fa-medkit icon w3-xxsmall"><b style="margin-left: 10px;">Staff</b></i></a>-->
<!--</nav>-->


<!--<h1 class="md-display-3">Headline</h1>-->
<!--<h2 class="md-display-1">Headline</h2>-->
<!--<h3 class="md-headline">Headline</h3>-->

<p>Welcome</p>
